<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>362691041149-ed7bsmhpohp0hfpckkfgv9g7821fu82s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362691041149-ed7bsmhpohp0hfpckkfgv9g7821fu82s</string>
	<key>API_KEY</key>
	<string>AIzaSyC7uyl2mYvu9x4wJNfXi-xhQ3v8ouBNIJA</string>
	<key>GCM_SENDER_ID</key>
	<string>362691041149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberrider</string>
	<key>PROJECT_ID</key>
	<string>uber-1007b</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-1007b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362691041149:ios:0125ce7b8716c8c4</string>
	<key>DATABASE_URL</key>
	<string>https://uber-1007b.firebaseio.com</string>
</dict>
</plist>